* { margin:0px; padding: 0px; }

BODY {
    background-color: steelblue;
}

#area {
    background-color: limegreen;
    width:409px;
    height:409px;
}

#log { 
    margin: 10px; 
    padding: 5px;
    border: 3px ridge grey;
    font: 11px sans-serif;
    overflow: scroll;
}

#coords {
    text-align:center;
    font-size: 32px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}